@import 'font-awesome.min.css';
@import 'views/less/smart-grid';
@import 'views/less/fonts';
@import 'views/less/var';
@import 'views/less/mixins';
@import 'views/less/header';
@import 'views/less/footer';
@import 'views/less/post';
@import 'views/less/comments';
@import 'views/less/form-comment';

.debug {
  .debug(rgba(118, 112, 137, 0.24), 1px solid rgba(157, 153, 250, 0.33));
}

.wrapper {
  .wrapper()
}

html,
body {
  .reset();
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'notoSans', 'sans-serif';
  color: @color_text;
}

body {
  background: rgba(231, 231, 231, 0.12);
}

.db_h100 {
  display: block;
  height: 100%;
}

hr {
  opacity: .3;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;

  .sm-block({
    margin-top: 10px;
    margin-bottom: 10px;
  });
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */

}
